body{
    background-image: url("https://image.slidesdocs.com/responsive-images/background/simple-white-education-pencil-calculator-art-powerpoint-background_644fe4b2ed__960_540.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%;

}